manager/utils/permission_check.php
manager/utils/send_notification_to_user.php
manager/utils/service-account-file-used-for-notifications.json
user/utils/send_notification_to_manager.php
user/utils/service-account-file-used-for-notifications.json
user/utils/check_google_login.php
sql.php
send_mail.php
